<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <style>
        #result {
            position: relative;
            width: 100%;
            max-width: 1053px;
            cursor: pointer;
            overflow-y: scroll;
            max-height: 400px;
            box-sizing: border-box;
            z-index: 1001;
        }

        .link-class:hover {
            background-color: #e36565;
        }

        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: transparent;
            border: 1px solid #0066cc;
        }
    </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ABSENSI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="<%= config.hostname %>/assets/css/animate.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="<%= config.hostname %>/assets/css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="<%= config.hostname %>/assets/css/style.css">
    <!-- Modernizr JS -->
    <script src="<%= config.hostname %>/assets/js/modernizr-2.6.2.min.js"></script>

</head>

<body>

    <!-- <div class="page-inner"> -->
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">

            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="gtco-logo"><a href="index.php"></a>GAMA</div>
                    <%= // current_event %>
                </div>
                <div class="col-xs-8 text-right menu-1">
                    <div id="gtco-logo"><a href="index.php"></a>Bandung Selatan 2</div>
                    <%= // current_region %>
                </div>
            </div>

        </div>
    </nav>

    <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(<%= config.hostname %>/assets/img/bg/abcd.jpg)" data-stellar-background-ratio="0.5">
        <!-- <div class="overlay"></div> -->
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-14 col-md-offset-0 text-left">
                    <div class="row row-mt-10em">
                        <div style="margin-top: 200px" class="col-md-15 mt-text animate-box"
                            data-animate-effect="fadeInUp">
                            <h2 style="font-size: 59px" class="cursive-font text-center">Silahkan Masukkan Nama Anda</h2>
                        </div>

                        <div class="col-md-12 col-md-push-0 animate-box" data-animate-effect="fadeInRight">
                            <div class="form-wrap">
                                <div class="tab">
                                    <div class="tab-content">
                                        <div class="tab-content-inner active" data-content="signup">
                                            <form action="#" method="post">
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label for="nama"></label>
                                                <input type="text" name="nama" id="search" class="form-control" 
                                                    autocomplete="off">
                                            </div>
                                            <ul class="list-group" style="padding-left: 15px;" id="result"></ul>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <button type="submit" name="submit"
                                                    class="btn btn-primary btn-block">Submit</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="<%= config.hostname %>/assets/vendor/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="<%= config.hostname %>/assets/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="<%= config.hostname %>/assets/js/jquery.waypoints.min.js"></script>
    <!-- Main -->
    <script src="<%= config.hostname %>/assets/js/main.js"></script>

</body>

</html>


<script>
    $(document).ready(function () {
        $.ajaxSetup({
            cache: false
        });
        $('#search').keyup(function () {
            $('#result').html('');
            $('#state').val('');
            var searchField = $('#search').val();
            var expression = new RegExp(searchField, "i");
            $.getJSON('data.json', function (data) {
                $.each(data, function (key, value) {
                    if (value.name.search(expression) != -1 || value.desa.search(expression) != -1 || value.kelompok.search(expression) != -1) {
                        /*$('#result').append('<li class="list-group-item link-class"> </> '+value.name+' | <span class="text-muted">'+value.kelompok+', <span class="text-muted">'+value.desa+'</li>');*/
                        $('#result').append('<li class="list-group-item link-class">' + value.name + ' | ' + value.kelompok + ', <span class="text-muted">' + value.desa + '</span></li>');
                    }
                });
            });
        });

        $('#result').on('click', 'li', function () {
            var click_text = $(this).text().split('|');
            $('#search').val($.trim(click_text[0]));
            $("#result").html('');
        });
    });
</script>