<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= config.hostname %>/admin/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laptop-code"></i>
        </div>
        <div class="sidebar-brand-text mx-3"><%- config.app_name -%></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="<%= config.hostname %>/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Admin
    </div>

    <!-- Nav Item - Pages Event Menu -->
    <li class="nav-item">
        <a class="nav-link" href="<%= config.hostname %>/admin/manage/members">
            <i class="fas fa-calendar-check"></i>
            <span>Manage members</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="<%= config.hostname %>/admin/manage/attributes">
            <i class="fas fa-calendar-check"></i>
            <span>Manage attributes</span></a>
    </li>

    <!-- Nav Item - Pages member Menu -->
    <li class="nav-item">
        <a class="nav-link" href="<%= config.hostname %>/admin/view/report">
            <i class="fas fa-users"></i>
            <span>View report</span></a>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
<!-- End of Sidebar -->