<%- include('../../layout/header') %>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include('../../layout/sidebar') %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <%- include('../../layout/topbar') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <div class="row">

                        <div class="col-lg-12">
                            
                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">

                                <!-- Page Heading -->
                                <div class="card-header py-3">
                                    <h3 class="m-0 font-weight-bold text-primary">Event</h3>
                                </div>
                                
                                <div class="card-body">
                                    <!-- <div class="small mb-1">Dropdown Button Example:</div> -->
                                    <div class="row" style="margin-left: -.99rem;">
                                        <div class="ml-3 dropdown mb-4">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                Event 
                                            </button>
                                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Pengajian Pernak Pernik</a>
                                                <a class="dropdown-item" href="#">Pengajian Terobosan Pusat</a>
                                                <a class="dropdown-item" href="#">Pengajian Muda-Mudi Sektor</a>
                                            </div>
                                        </div>

                                        <div class="ml-4 dropdown mb-4">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                Event Child
                                            </button>
                                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Pengajian Pernak Pernik</a>
                                                <a class="dropdown-item" href="#">Pengajian Terobosan Pusat</a>
                                                <a class="dropdown-item" href="#">Pengajian Muda-Mudi Sektor</a>
                                            </div>
                                        </div>

                                        <div class="ml-4 dropdown mb-4">
                                            <button type="submit" name="submit" id="choose-event" class="btn btn-primary btn-user btn-block ">Show Presence</button>
                                        </div>

                                        <div class="ml-2 dropdown mb-4">
                                            <button type="submit" name="submit" id="cancel-btn" class="btn btn-danger btn-user btn-block" style="display: none">Close</button>
                                        </div>
                                    </div>

                                    <!-- <div class="small mb-1">Dropdown Button Example:</div> -->
                                    <div class="mb-4">
                                        <button class="btn btn-primary" type="button" id="">
                                            Event Description
                                        </button>
                                    </div>

                                    <!-- <div class="small mb-1">Dropdown Button Example:</div> -->
                                    <div class="table-responsive" style="display: ;" id="event-table">
                                        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr class="tr>th">
                                                    <th>NO</th>
                                                    <th>NAMA DESA</th>
                                                    <th>LAKI-LAKI</th>
                                                    <th>PEREMPUAN</th>
                                                    <th>JUMLAH</th>
                                                    <th>ACTION</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th>JUMLAH</th>
                                                    <th>120</th>
                                                    <th>120</th>
                                                    <th>240</th>
                                                    <th>
                                                        <!-- <button type="submit" name="submit" id="choose-event" class="btn btn-secondary">BACK</button> -->
                                                    </th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td class="text-left">BANJARAN</td>
                                                    <td>20</td>
                                                    <td>20</td>
                                                    <td>40</td>
                                                    <td>
                                                        <button type="submit" name="submit" id="choose-event" class="btn btn-primary">Detail</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td class="text-left">BALEENDAH</td>
                                                    <td>20</td>
                                                    <td>20</td>
                                                    <td>40</td>
                                                    <td>
                                                        <button type="submit" name="submit" id="choose-event" class="btn btn-primary">Detail</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td class="text-left">CIPARAY</td>
                                                    <td>20</td>
                                                    <td>20</td>
                                                    <td>40</td>
                                                    <td>
                                                        <button type="submit" name="submit" id="choose-event" class="btn btn-primary">Detail</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td class="text-left">MAJALAYA</td>
                                                    <td>20</td>
                                                    <td>20</td>
                                                    <td>40</td>
                                                    <td>
                                                        <button type="submit" name="submit" id="choose-event" class="btn btn-primary">Detail</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td class="text-left">SAYATI</td>
                                                    <td>20</td>
                                                    <td>20</td>
                                                    <td>40</td>
                                                    <td>
                                                        <button type="submit" name="submit" id="choose-event" class="btn btn-primary">Detail</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td class="text-left">SOREANG</td>
                                                    <td>20</td>
                                                    <td>20</td>
                                                    <td>40</td>
                                                    <td>
                                                        <button type="submit" name="submit" id="choose-event" class="btn btn-primary">Detail</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        
                        </div>

                    </div>

                </div>
                <!-- End Page Content -->
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <%- include('../../layout/copyright') %>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <%- include('../../layout/logout') %>
    <%- include('../../layout/footer') %>
    <script src="<%= config.hostname %>/assets/js/admin.js"></script>